<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<h2 style="text-align: center;">Login Form</h2>

<form action="/action_page.php" method="post">
  <div class="imgcontainer">
    <img src="https://upload.wikimedia.org/wikipedia/commons/f/f9/Phoenicopterus_ruber_in_S%C3%A3o_Paulo_Zoo.jpg" alt="Avatar" class="avatar">
  </div>

  <div class="container">
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" [(ngModel)]="loginDetails.userId"  required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" [(ngModel)]="loginDetails.password"  required>

    <button type="submit" (click)="submit()">Login</button>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
    <h4 *ngIf="isError" style="text-align: center;color: red;">{{ loginError }}</h4>

  </div>

</form>

</body>
</html>
